/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@400;600;700&family=Playfair+Display:wght@700&display=swap');

/* Global stilleriniz burada devam edebilir */
